// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#description, #requirement {
	border-bottom: 1px solid #79BEDB;
	padding-bottom: 20px;
	margin-bottom: 20px;
}