// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#description, #requirement {
	border-bottom: 1px solid #EDEFF4;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.build-user {
	
	margin-top: 30px;
	border-top: 5px solid #EDEFF4;
	padding-top: 30px;

	border-bottom: 5px solid #EDEFF4;
	margin-bottom: 30px;
	}