// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
	background-color: #FFF;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#post-info {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}