// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#companies {
	border-top: 1px solid #EDEFF4;
	padding-top: 10px;
	width:900px;
}

.span6 {
	border-left: 1px solid #EDEFF4;
	padding-left: 10px;
}

.span3 {
	border-left: 1px dashed #000000;
	border-right: 1px dashed #000000;
	border-top: 1px dashed #000000;
	border-bottom: 1px dashed #000000;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

}
.query {
	width: 250px !important;
	height: 30px !important;
}